#projects-container{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
    overflow: hidden;
}

#projects-container h1{
    font-size: 43px;
}

#separator{
    height: 0.4rem;
    width: 2rem;
    border-radius: 2rem;
    margin: 1rem;
    background: rgb(83, 115, 154); 
}

#projects-para{
   text-align: center;
   font-size: 25px;
}

#projects-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width:500px;
    text-align: center;
    border-radius: 20px;
    border: 5px solid rgba(91, 192, 190, 0.44);
}


